{% snippet 'header_redesign' %}

<p>{% trans %}Hi {{user_name}}{% endtrans %},</p>

<p>{% trans %}Thank you for your generous donation of {% endtrans %}<strong>{{donation_amount}}</strong>{% trans %} to Hylo!{% endtrans %}</p>

<p>{% trans %}Your support helps us continue building tools for social coordination and community building.{% endtrans %}</p>

<p><strong>{% trans %}Donation Date:{% endtrans %}</strong> {{donation_date}}</p>
<p><strong>{% trans %}Donation Type:{% endtrans %}</strong> {{donation_type}}</p>

{% if is_tax_deductible %}
  <div style="background-color: #f0f9ff; padding: 15px; border-left: 4px solid #0284c7; margin: 20px 0;">
    <p><strong>{% trans %}Tax-Deductible Donation{% endtrans %}</strong></p>
    {% set fiscal_sponsor_name_var = fiscal_sponsor_name %}
    <p>{% trans %}Your donation is tax-deductible in the United States. Hylo is fiscally sponsored by {{fiscal_sponsor_name_var}}, a 501(c)(3) nonprofit organization.{% endtrans %}</p>
    <p>{{tax_receipt_info}}</p>
  </div>
{% endif %}

{% if is_recurring %}
  <p>{% trans %}This is a recurring donation that will automatically repeat {% endtrans %}{{recurring_interval}}{% trans %}.{% endtrans %}</p>
  <p><strong>{% trans %}Next Donation:{% endtrans %}</strong> {{next_donation_date}}</p>
  <a class='btn btn-blue' href="{{manage_donation_url}}" clicktracking="off">{% trans %}Manage Recurring Donation{% endtrans %}</a>
{% endif %}

{% if purchase_context %}
  {% set purchase_context_var = purchase_context %}
  <p><em>{% trans %}This donation was made as part of your {{purchase_context_var}}.{% endtrans %}</em></p>
{% endif %}

<p>{{impact_message}}</p>

{% snippet 'footer_redesign' %}