{% snippet 'header_redesign' %}

<p>{% trans %}Hi {{user_name}}{% endtrans %},</p>

<p>{% trans %}Thank you for your generous contribution of {% endtrans %}<strong>{{donation_amount}}</strong>{% trans %} to Hylo!{% endtrans %}</p>

<p>{% trans %}Your support helps us continue building tools for social coordination and community building.{% endtrans %}</p>

<p><strong>{% trans %}Contribution date:{% endtrans %}</strong> {{donation_date}}</p>
<p><strong>{% trans %}Contribution type:{% endtrans %}</strong> {{donation_type}}</p>

{% if is_recurring %}
  <p>{% trans %}This is a recurring contribution that will automatically repeat {% endtrans %}{{recurring_interval}}{% trans %}.{% endtrans %}</p>
  <p><strong>{% trans %}Next contribution:{% endtrans %}</strong> {{next_donation_date}}</p>
  <a class='btn btn-blue' href="{{manage_donation_url}}" clicktracking="off">{% trans %}Manage recurring contribution{% endtrans %}</a>
{% endif %}

{% if purchase_context %}
  {% set purchase_context_var = purchase_context %}
  <p><em>{% trans %}This contribution was made as part of your {{purchase_context_var}}.{% endtrans %}</em></p>
{% endif %}

<p>{{impact_message}}</p>

{% snippet 'footer_redesign' %}
